= form_for @post, url: post_path do |f|
  .form-group
    %label タイトル
    = f.text_field :title, class:'form-control'
  .form-group
    %label 内容
    = f.text_area :body, size: '70x10',class: 'form-control'
  = f.submit '保存', class: 'btn btn-primary', data: {confirm: '投稿しますか？'}
